body{
overflow-x: hidden;
}
header{
    background-color:#FFF9F4;
    height: 715px;
}
h1, h2, h3, h4, h5, h6 {
color:#363958;


}

.nike-button{
    color: white;
    background-image:  linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
    padding: 15px 10px  ;
}
.nike-button:hover {
    color: #3D4FF3;
    transform: scale(1.1);
    background-image: none;
    border: 2px solid #3D4FF3;
    border-radius: 

}
.product-price{
    color: #FA804C;
    font-weight: 800;
}
.hero-text{
    color: #FA804C;

}